
<p id="notice"><%= notice %></p>

<h1> News Media Content</h1>
<div class="table_view">
<table style="width:100%; border-spacing:0;">
  <thead>
    <tr>
      <th>Contents</th>
      <th>Filename</th>
      <th>User group</th>
      <th>Content type</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @grid_fs_files.each do |grid_fs_file| %>
      <tr>
        <td>
          <% if grid_fs_file.contentType == "Video" %>

            <%= image_tag "video_icon.png", size: "50x50" %>

           <%elsif  grid_fs_file.contentType == "Audio" %>

              <%= image_tag "music_icon.png", size: "50x50" %>

           <%elsif  grid_fs_file.contentType == "Text" %>

              <%= image_tag "text_file.png", size: "50x50" %>

           <% else %>

              <%= image_tag "image_icon.png", size: "50x50" %>

          <% end %>

          </td>
        <td><%= link_to grid_fs_file.filename, grid_fs_file %></td>
        <td><%= grid_fs_file.user_group %></td>
        <td><%= grid_fs_file.contentType %></td>
        <td><%= status_tag(grid_fs_file.status) %></td>
        <td>
        <p>
        <div class="links_to_functions">
            <%= link_to 'Edit', edit_grid_fs_file_path(grid_fs_file) %></br>
            <%= link_to 'Delete', grid_fs_file, method: :delete, data: { confirm: 'Are you sure?' } %></br>
        </div>
      </p>
       </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<p class="new_survey_link"><%= link_to 'Create Media item', new_grid_fs_file_path %></p>
