<%= form_for @survey do |f| %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <div id='questions'>
  <%= f.nested_fields_for :questions do |builder| %>
   <div id=question_field>
    <%= render "question_fields", :f => builder %>
  </div>

  <% end %>
    <div class='links'>
<%=f.add_nested_fields_link :questions, "Add question"%>
    </div>



  <p><%= f.submit "Submit" %></p>

<% end %>
