
<%= form_for(@survey_response) do |f| %>

  <div class="form-inputs">

    <p><span>Email</span><%= f.text_field :email %></p>
    <p><span>User group</span><%= f.text_field :user_group %></p>
    <p><span>Responses</span><%= f.text_field :responses %></p>
    <p><span>survey id</span><%= f.text_field :surveyID %></p>
    <p><span>Attach media</span><%= f.select(:newsID, GridFsFile.all.map{|p| [p.filename, p.id]}) %></p>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
