<p id="notice"><%= notice %></p>

<h1>Survey Responses</h1>

<table style="width:100%; border-spacing:0;">
  <thead>
    <tr>
      <th>Email</th>
      <th>User group</th>
      <th>Surveyid</th>
      <th>Responses</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @survey_responses.each do |survey_response| %>
      <tr>
        <td><%= survey_response.email %></td>
        <td><%= survey_response.user_group %></td>
        <td><%= survey_response.surveyID %></td>
        <td><%= link_to 'Show', survey_response %></td>
        <td><%= link_to 'Destroy', survey_response, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
