<!DOCTYPE HTML>
<html>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
  <title>Engage</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />


  <%= csrf_meta_tags %>

   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   <%= javascript_include_tag   "application", :cache => true %>
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
      <% if admin_signed_in? %>
        <div class="dropdown" align="right" style="padding-top:20px; float:right">
          <button class="dropbtn"><%= current_admin.email %></button>
          <div class="dropdown-content">
            <a <%= link_to 'Log out', destroy_admin_session_path, method: :delete %></a>
            <a <%= link_to 'Profile', edit_admin_registration_path %></a>
          </div>
      </div>
      <% end %>
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="http://www.engage.cs.uct.ac">Eng<span class="logo_colour">age</span></a></h1>
          <h2>Better data collection.</h2>
        </div>
      </div>

      <% if admin_signed_in? %>
          <div id="menubar">
            <ul id="menu">

              <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
              <li><a href="/grid_fs_files/">News Content</a></li>
              <li><a href="/surveys/">Surveys</a></li>
              <li><a href="/users/">Participants</a></li>
              <li><a href="/survey_responses/">Survey Responses</a></li>
              <li><a href="/about/aboutpage/">About</a></li>

            </ul>
          </div>

      <% else %>
      <div id="menubar">
        <ul id="menu">
        </ul>
      </div>
      <% end %>
    </div>
    <div id="site_content">
    <div class="notice-alert">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

      <div id="content">
        <!-- insert the page content here -->
        <%= yield %>

      </div>
    </div>
  </div>
</body>
    <div id="content_footer"></div>
    <div id="footer">
      Copyright &copy; ENGAGE | <a href="#">UCT@COMPUTER SCIENCE HONOURS</a>  | <a href="#">2018</a>
    </div>

</html>
